.delivery-payment__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;

  font-size: 12px;
  color: #616161;
  h3 {
    text-transform: uppercase;
    color: #000;
  }
  ul {
    list-style-position: inside;
  }
  max-width: 632px;
}
