.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;

  &__field {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #3e3c3c;
  }
  #error-message{
    margin-top: 10px;
  }
  &__field-name,
  &__options {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    a {
      color: #000;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__input {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 25px;
    height: 60px;
    width: 100%;
  }

  &__buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    max-width: 309px;
    button {
      border: none;
      height: 53px;
      border-radius: 30px;
      -webkit-apperance: none !important;
      -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.6);
      -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.6);
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.6) !important;
      transition: all 0.3s ease;

      &:hover {
        -moz-box-shadow: 0 1px 15px 0 rgba(32, 33, 36, 0.6);
        -webkit-box-shadow: 0 1px 15px 0 rgba(32, 33, 36, 0.6);
        box-shadow: 0 1px 15px 0 rgba(32, 33, 36, 0.6) !important;
      }
    }
  }
  &__create-account {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 24px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 12px;
    }
    h2 {
      font-size: 12px;
      color: #616161;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 309px;
      width: 100%;
      height: 53px;
    }
  }
}

    @media(max-width: 768px){
      .login{
        padding-top: 0px;
      }
      .register form {
        padding-top: 0px;
      }
      .login .primary-input { 
        width: 300px;
       }
       .register .primary-input{ 
        width: 300px;
       }
       .register .phone__field #phoneNumber {
        width: 200px;
        }
        #profile .primary-input{ 
          width: 300px;
         }

       .login .login__options{ 
        gap: 20px;
        align-items: center;
       }
    }

    @media(max-width: 400px){
      .login .primary-input { 
        width: 300px;
       }
       .register .primary-input{ 
        width: 300px;
       }
       .register .phone__field #phoneNumber {
        width: 200px;
        }
        #profile .primary-input{ 
          width: 280px;
         }
    }
