.main {
  display: flex;
  flex-direction: column;

}
.main__main {
  margin: 0 auto;
}
.main__container {
  width: 95%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -1;
}
.main__banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.product-grid__item {
  position: relative;
cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p {
    font-size: 12px;
  }
}

.product-grid__item img {
  width: 195px;
  height: auto;
}

.product-like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
  filter: blur(3px);
}

.product-like-icon.selected {
  filter: blur(0px);
}

.favorite-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-count {
  position: absolute; /* Додаємо абсолютне позиціонування */
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Центрування по вертикалі та горизонталі */
  /* Можна встановити фон для кращої видимості */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .main__banner {
    display: none;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }
}
@media (max-width: 400px) {
  .product-grid__item img {
    width: 120px;
  }
  .product-like-icon{
    width: 30px !important;
    height: 30px !important;
  }

}
