.register__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin: 0 auto;
  
  gap: 35px;
  .register__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.register__terms {
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 13px;
  .register__terms-checkbox {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
  }
}
#phoneError {
  margin-top: 10px;
  text-align: start;
}
.register form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 46px;
  .register__btn {
    margin-top: 50px;
    margin-bottom: 21px;
    max-width: 309px;
    width: 100%;
    height: 53px;
  }
  a {
    color: inherit;
  }

  .error {
    color: red;
    font-size: 12px;
    display: none;
    margin-right: auto;
  }
}

.phone__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  .phone__input {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  #phonePrefix {
    width: 78px;
  }

  #phoneNumber {
    width: 395px;
  }

  select {
    -webkit-transition: -webkit-box-shadow 0.15s ease-out;
    transition: -webkit-box-shadow 0.15s ease-out;
    transition: box-shadow 0.15s ease-out;
    transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
    -webkit-box-shadow: 0 0 0 0 #aaaaac;
    box-shadow: 0 0 0 0 #aaaaac;
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1rem;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('/assets/img/arrow-down.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 0.25rem) 50%;
    background-size: 20px 20px;
    border: 1px solid #000;

    padding: 0 1.75rem 0 0.75rem;
    text-overflow: ellipsis;
  }
}
.register__terms-checkbox {
  .checkmark {
    width: 18px !important;
  }
  input[type='checkbox']:checked + .checkmark::after {
    width: 9px !important;
  }
  input[type='checkbox'] {
    margin-right: 16px;
  }
}
