@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import 'reset';
@import 'welcome';
@import 'header';
@import 'main';
@import 'privacy-policy';
@import 'modal';
@import 'login';
@import 'register';
@import 'delivery-payment';
@import 'personal-account';
@import 'saved-items';
@import 'product';
@import 'cart';

body {
  background-color: #d9d9d9;
  font-family: 'Sometype Mono', monospace;
  button{
    &:hover {
      box-shadow: 0 1px 15px 0 rgba(32, 33, 36, 0.6) !important;
  
  }
  transition: all 0.3s ease;
}
}
/* Загальний стиль для ефекту димки */
.page-fade-effect {
  position: fixed; /* Закріплення елемента внизу екрану */
  bottom: 0; /* Розташування внизу */
  left: 0;
  width: 100%; /* Ширина на всю сторінку */
  height: 100px; /* Висота димки */
  pointer-events: none; /* Щоб не заважав клікам */
  background: linear-gradient(0deg, rgba(231, 236, 234, 1) 0%, rgba(130, 131, 125, 0) 100%);
  z-index: 5; /* Високий z-index, щоб був поверх вмісту */
}

.primary-btn {
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 2.5em;
  color: #000;
  background-color: transparent;
  padding: 5px 15px;
}

.secondary-btn {
  background: #dcdedd;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.6) !important;
  border-radius: 20px;
  font-size: 12px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-input {
  background-color: transparent;
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 10px;
  height: 58px;
  width: 490px;
  border: 1px solid black;
  border-radius: 10px;
}

.primary-checkbox {
  display: flex;
  align-items: center;
  font-family: monospace;
}

.primary-checkbox input[type='checkbox'] {
  display: none;
}

.primary-checkbox .checkmark {
  width: 16px;
  height: 14px;

  border: 1px solid #333;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.primary-checkbox input[type='checkbox']:checked + .checkmark {
  border: 1px solid #333;
}

.primary-checkbox input[type='checkbox']:checked + .checkmark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 9px;
  background-color: #525050;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}
